[Unit]
Description=Temperature and Humidity Sensor Reader Service
After=network.target

[Service]
Type=simple
User=TBD
WorkingDirectory=TBD
ExecStart=TBD
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
